[i2c]
	# Device to use for I2C
	device = /dev/i2c-0

	# Whether to use checksums (this basically always has to be "yes")
	use_pec = yes

################################################################################
# What follows is a description of which I2C commands to use to flash
# each device.
# Each device has a section in this field starting with [DEVICENAME].
# Each of these sections must contain the following values:
#  * address: The address of the device in hex (can include '0x')
#  * top: The base address of the top memory section in hex
#  * bottom: The base address of the bottom memory section in hex
#  * cmd_fw_ver: Command to read firmware version
#  * cmd_fw_chunk: Command to send a chunk to the msp430
#  * cmd_fw_next: Command to read the next address that the msp430 expects  
#  * cmd_fw_crcr: Command to read the CRC of the firmware calculated on the MSP430
#  * cmd_fw_confirm: Command to confirm the firmware CRC
# The following values are optional:
#  * cmd_format: Some of our boards have different command formats.  If unspecified, 
#                this field defaults to 1.  Different values:
#      - 1: SMBus command formats 
#      - 2: Command format based on the Gumsense format.  *All* reads
#           are a special block read format.

[motor]
	address = 0x12
	bottom = 0xe000
	top = 0xf000
	cmd_fw_ver = 4
	cmd_fw_chunk = 5
	cmd_fw_next = 5
	cmd_fw_crcr = 6
	cmd_fw_confirm = 6

[jointio]
	address = 0x24
	bottom = 0xc000
	top = 0xe000
	cmd_fw_ver = 5
	cmd_fw_chunk = 6
	cmd_fw_next = 6
	cmd_fw_crcr = 7
	cmd_fw_confirm = 7

[pwm]
	address = 0x2e
	bottom = 0xe000
	top = 0xf000
	cmd_fw_ver = 3
	cmd_fw_chunk = 4
	cmd_fw_next = 4
	cmd_fw_crcr = 5
	cmd_fw_confirm = 5

[power]
	address = 0x4f
	bottom = 0x1200
	top = 0x8900
	cmd_format = 2
	cmd_fw_ver = 16
	cmd_fw_chunk = 17
	cmd_fw_next = 17
	cmd_fw_crcr = 18
	cmd_fw_confirm = 18

[rob]
#Rob's development power board (MSP430F1611)
	address = 0x4f
	bottom = 0x4000
	top = 0xa000
	cmd_format = 2
	cmd_fw_ver = 16
	cmd_fw_chunk = 17
	cmd_fw_next = 17
	cmd_fw_crcr = 18
	cmd_fw_confirm = 18

