################################################################################
# What follows is a description of which SRIC commands to use to flash
# each device.
# Each device has a section in this field starting with [DEVICENAME].
# Each of these sections must contain the following values:
#  * board: The type of board as reported by the firmware
#  * top: The base address of the top memory section in hex
#  * bottom: The base address of the bottom memory section in hex
#  * cmd_fw_ver: Command to read firmware version
#  * cmd_fw_chunk: Command to send a chunk to the msp430
#  * cmd_fw_next: Command to read the next address that the msp430 expects  
#  * cmd_fw_crcr: Command to read the CRC of the firmware calculated on the MSP430
#  * cmd_fw_confirm: Command to confirm the firmware CRC

[motor]
	board = 2
	bottom = 0x8000
	top = 0xc000
	cmd_fw_ver = 2
	cmd_fw_chunk = 3
	cmd_fw_next = 4
	cmd_fw_crcr = 5
	cmd_fw_confirm = 6

[jointio]
	board = 3
	bottom = 0x8000
	top = 0xc000
	cmd_fw_ver = 5
	cmd_fw_chunk = 6
	cmd_fw_next = 7
	cmd_fw_crcr = 8
	cmd_fw_confirm = 9

[pwm]
	board = 4
	bottom = 0x8000
	top = 0xc000
	cmd_fw_ver = 2
	cmd_fw_chunk = 3
	cmd_fw_next = 4
	cmd_fw_crcr = 5
	cmd_fw_confirm = 6

[power]
	board = 1
	bottom = 0x8000
	top = 0xc000
	cmd_fw_ver = 0
	cmd_fw_chunk = 1
	cmd_fw_next = 2
	cmd_fw_crcr = 3
	cmd_fw_confirm = 4
